.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.checkoutProduct__image {
  width: 180px;
  height: 180px;
  object-fit: contain;
}
.checkoutProduct__info {
  padding-left: 20px;
  max-width: 600px;
}
.checkoutProduct__rating {
  display: flex;
}
.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}
.checkoutProduct__info > button {
  border-radius: 3px;
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  color: #111;
  border-color: #a88734 #9c7e31 #846829;
}
